

<header>
    <a href="/"><img src="/img/logoIcon.png"></a>
    <nav>
        <a class="btn secondary" href="/users/sign-in">Sign In</a>
        <a class="btn primary" href="/users/sign-up">Register</a>
    </nav>
</header>