<header>
    <a href="/"><img src="/img/logoIcon.png"></a>
    <nav>
        <a class="btn secondary" href="/messages/dashboard">Dashboard</a>
        <a class="btn secondary" href="/users/profile">Profile</a>
        <a class="btn primary" href="/users/sign-out">log out</a>
    </nav>
</header>