main {
    padding: 1rem;
    text-align: center;
}


h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2.5rem;
    margin: 2rem auto;
}

h1 span {
    color: var(--pink);
}

.hero-text-container a {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 1.75rem;
    background: var(--gradient-1);
    color: white;
    font-weight: 600;
    transition: all 0.2s ease-in;
}

.hero-text-container a:hover {
    background: var(--pink);
}

.hero-img-container {
    margin: 2rem auto;
}

.hero-img-container img {
    max-width: 100%;
}

.card-info {
    margin-bottom: 6rem;
}

.card-info h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    max-width: 1024px;
    margin: 0 auto;
}

.card {
    padding: 1rem;
    max-width: 350px;
    background-color: white;
    border-radius: 8px; /* Adds rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin: 0 auto;
    margin-bottom: 2rem;
}

.card img {
    display: block;
    margin: 2rem auto;
    margin-bottom: 1rem;
    width: 32px;
    height: 32px;

}

.card h3 {
    margin-bottom: 1rem;
}

.card p {
    margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
    main {
        padding: 2rem;
    }

    .hero {
        display: grid;
        grid-template-columns: 2fr 3fr;
        margin: 0 auto;
    }

    .hero-text-container {
        text-align: left;
        margin-top: 3rem;
    }

    .hero-img-container {
        position: relative;
    }

    .hero-img-container img {
        display: block;
        max-width: 110%;
        position: relative;
        top: 190px;
        left: -10%;
    }

    .hero-text-container a {
        margin-top: 3rem;
    }

    .card-info {
        margin: 6rem auto
    }
}

@media only screen and (min-width: 805px) {
    .hero-img-container img {
        display: block;
        max-width: 110%;
        position: relative;
        top: 100px;
        left: -10%;
        /* transform: translate(-2rem , 60%); */

    }
}


@media only screen and (min-width: 1024px) {
    .hero {
        max-width: 1024px;
    }
}





